# Ignore MySQL data files
mysql-data/
*.pem
#ib_16384_*.dblwr
ib_buffer_pool
ibdata1
#innodb_redo
#innodb_temp
undo_*

# Ignore build output directories
ShortURL/bin/
ShortURL/obj/

# Ignore user-specific files
*.user
*.suo
*.swp

# Ignore Visual Studio files
.vs/
*.vscode

# Ignore any other unwanted files
.DS_Store
Thumbs.db

# Ignore the following file types
*.log
*.tmp

# Ignore compiled output
*.dll
*.exe

# Ignore backup files
*~
