# Compiled binary files
**/bin/
**/obj/

# Certificates and keys
/ca/
*.crt
*.key
*.pem
*.pfx

# Images
/images/

# User-specific files
*.user

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.old

# Other files generated during builds or local use
**/project.assets.json
**/project.nuget.cache

# Ignore all debug and release folders
**/[Dd]ebug/
**/[Rr]elease/

*.vs
ShortURL/wwwroot/css/sample-data/weather.json
publish/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
