version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw
      MYSQL_DATABASE: testdb
      MYSQL_USER: testuser
      MYSQL_PASSWORD: testpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./ShortURLdb/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - mynetwork
  webapi:
    build:
      context: .
      dockerfile: ShortUrlWebAPI/Dockerfile
    container_name: webapi-container
    ports:
      - "8080:80"
      - "8081:443"
    volumes:
      - ./ShortUrlWebAPI/certs:/https
    environment:
      ASPNETCORE_URLS: "http://0.0.0.0:80;https://0.0.0.0:443"
      ASPNETCORE_HTTPS_PORT: "8081"
      ASPNETCORE_ENVIRONMENT: "Development"
    depends_on:
      - mysql
    networks:
      - mynetwork
volumes:
  mysql-data:
networks:
  mynetwork:
    driver: bridge